drupal.version: 8.2.3
root: web
db.user.name: drupal
db.user.pass: drupal
db.host: mysql.drupal8-base.loc
db.port: 3306
db.name: drupal
db.type: mysql
db.prefix: d8_
site.name: Drupal-8-base
site.langcode: en
site.profile: standard
site.mail: drupal-8base@example.com
site.account.name: admin
site.account.pass: admin
site.account.mail: drupal-8base@example.com

languages:
 - additional_language ('it' for Italian)

modules:
  contrib:
    - config_update
    - language
    - locale

  custom:
    - module_a

themes:
  contrib:
    - adminimal_theme
    - bootstrap
