$settings['bootstrap_config_storage'] = array(
  'Drupal\Core\Config\BootstrapConfigStorageFactory',
  'getFileStorage'
);

$config_directories = array(
  CONFIG_ACTIVE_DIRECTORY => './../config/active/',
  CONFIG_STAGING_DIRECTORY => './../config/staging/',
  CONFIG_SYNC_DIRECTORY => './../config/sync/',
);

$settings['install_profile'] = '%%SETTINGS_INSTALL_PROFILE%%';

$settings['hash_salt'] = file_get_contents('./../salt.txt');
