$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'database' => '%%DB_NAME%%',
      'username' => '%%DB_USER_NAME%%',
      'password' => '%%DB_USER_PASS%%',
      'host' => '%%DB_HOST%%',
      'port' => '%%DB_PORT%%',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);