# server-based syntax
# ======================
# Defines a single server with a list of roles and multiple properties.
# You can define all roles on a single server, or split them:

# server 'example.com', user: 'deploy', roles: %w{app db web}, my_property: :my_value
# server 'example.com', user: 'deploy', roles: %w{app web}, other_property: :other_value
# server 'db.example.com', user: 'deploy', roles: %w{db}



# role-based syntax
# ==================

# Defines a role with one or multiple servers. The primary server in each
# group is considered to be the first unless any  hosts have the primary
# property set. Specify the username and a domain or IP for the server.
# Don't use `:all`, it's a meta role.

# role :app, %w{deploy@example.com}, my_property: :my_value
# role :web, %w{user1@primary.com user2@additional.com}, other_property: :other_value
# role :db,  %w{deploy@example.com}



# Configuration
# =============
# You can set any configuration variable like in config/deploy.rb
# These variables are then only loaded and set in this stage.
# For available Capistrano configuration variables see the documentation page.
# http://capistranorb.com/documentation/getting-started/configuration/
# Feel free to add new variables to customise your setup.



# Custom SSH Options
# ==================
# You may pass any option but keep in mind that net/ssh understands a
# limited set of options, consult the Net::SSH documentation.
# http://net-ssh.github.io/net-ssh/classes/Net/SSH.html#method-c-start
#
# Global options
# --------------
#  set :ssh_options, {
#    keys: %w(/home/rlisowski/.ssh/id_rsa),
#    forward_agent: false,
#    auth_methods: %w(password)
#  }
#
# The server-based syntax can be used to override options:
# ------------------------------------
# server 'example.com',
#   user: 'user_name',
#   roles: %w{web app},
#   ssh_options: {
#     user: 'user_name', # overrides user setting above
#     keys: %w(/home/user_name/.ssh/id_rsa),
#     forward_agent: false,
#     auth_methods: %w(publickey password)
#     # password: 'please use keys'
#   }

set :stage , :stage
set :branch, 'develop'
set :user, 'YOUR_STAGE_USER'

# used in case we're deploying multiple versions of the same
# app side by side. Also provides quick sanity checks when looking
# at filepaths
set :deploy_to, "YOUR_STAGE_APP_PATH/#{fetch(:application)}/"

# Current release path.
set :current_path, "#{fetch(:deploy_to)}current/"

# Path of application. Tipically where execute commands that need an highter bootstrap level.
set :app_dir, "#{fetch(:current_path)}web"

# Config export from locale to remote. Set to true if you need it.
set :export_local_config, true
# Set true if you want that Drushistrano export local config for you.
# Drushistrano will connect to your localhost via ssh!
set :export_local_config_via_ssh, true
# Where exported config file will be saved.
set :export_config_directory, "#{fetch(:current_path)}"

set :linked_files, fetch(:linked_files, []).push('build.stage.properties')

set :use_sudo, false
set :domains, ['stage']
set :default_domain, 'stage'

role :web, %w{YOUR_STAGE_HOST}, user: fetch(:user), primary: true
role :app, %w{YOUR_STAGE_HOST}, user: fetch(:user), primary: true
